*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#1f1f1f;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nerko One', cursive;
    height: 100vh;
    overflow:hidden;
}

p{
    display:inline;
}

#blob-color{
    fill:#a0a0a0;
}

button{
    font-size: 20px;
    margin-top: 20px;
}

/* TitleScreen */
#title{
    font-size: 50px;
}

#subtitle{
    font-size: 30px;
}

/* Game */
.divide{
    width: 50%;    
}

.property{
    display: inline;
    padding: 7px;
    font-size: 25px;
}

#property-display{
    transform: translateX(500%);
}

#blob-space{
    left: 0;
    transform: translateY(-12%);
}

#blob-initialization{
    right: 0;
    transform: translateX(-15%);
}

#game-interface{
    right: 0;
}

label{
    font-size: 30px;
}
input{
    font-size: 25px;
}

#emote{
    font-size:100px;
    animation: float 1s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes float{
    from{
        transform: translateY(20%);
    }to{
        transform: translateY(15%);
    }
}



