*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#1f1f1f;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nerko One', cursive;
    height: 100vh;
}

#title{
    font-size: 50px;
}

#subtitle{
    font-size: 30px;
}

#start-button{
    margin-top: 20px;
}

.divide{
    width: 50%;    
}

#blob-space{
    left: 0;
}

#game-interface{
    right: 0;
}



